.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
  }
  
  .contentContainer {
    display: flex;
    max-width: 800px; /* Adjust as needed */
  }
  
  .textContainer {
    padding: 15px;
  }
  
  .thelist {
    display: flex;
  }
  
  p {
    padding: 5px;
    color: rgb(73, 72, 72);
    margin: 0; /* Remove default margin */
  }
  
  .tick {
    padding-right: 2px;
  }
  
  button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-weight: 650;
    background-color: rgb(18, 6, 6);
  }
  
  button:hover {
    background-color: rgb(235, 92, 92);
    border: solid antiquewhite;
    color: white;
  }


  
  h1 {
    font-weight: bold;
    font-size: 60px;
  }
  
  input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: 0;
    margin: 10px 0;
  }
  