
@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  
  font-family: 'Roboto-Regular','Roboto-Bold', sans-serif;
}
.root{
  margin: 20%;
  padding: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}